
.flexItems {
  border: 1px;
  padding: 10px;
  box-shadow: 5px 10px 5px 15px black;
  border-radius: 10px;
  background-color: #2C5D87;
  transition: background-color 0.3s ease; /* Add a  transition effect for background color change */
}

/* Hover for flex items */
.flexItems:hover {
  background-color: #1a3a57; /* Change background color on hover */
}

/* Default styles for flex container */
.flexContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  padding: 15px; /* Increase padding for a pop-up effect */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .flexContainer {
    flex-direction: column; /* Change flex direction to column on smaller screens */
    align-items: center; 
  }

  .flexItems {
    width: 100%; /* Making flex items take up full width on smaller screens */
    margin-bottom: 20px; 
  }
}
