

.h1 {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

/* Style for the weather cloud image */
.weatherCloud {
  width: 100px;
  height: 100px;
  position: absolute;
  padding: 20px;
}

/* Media query for smaller screens  */
@media (max-width: 768px) {
  .h1 {
    font-size: 24px; 
  }

  .weatherCloud {
    width: 50px; /* Decreasing the cloud size for smaller screens */
    height: 50px;
  }
}
