.searchBox{
    margin:40px;
    padding:20px;
    display:flex;
    justify-content:center;
    align-items: center;
    color:black;
   }
  
   .search{
    border-radius:15px;
    padding: 10px 20px 10px 15px;/*top,right,bottom,left padding*/
    margin-right:5px;
    color:black;
  }
  
    #searchButton{
     background-color: white;
     border-radius:20px;
     color:black;
     height:32px;
    }  
.allWeather h1{
  text-align:center;
}